<div class="row">
    <br>
</div>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <br>
        <h1 style="text-align: center">RESTAURANTE</h1>
        <h1 style="text-align: center">"BUEN GUSTO" </h1>
        <form>
            <div class="imgcontainer">
                <img src="app-content/img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label><b>Username</b></label>
                <input type="text" ng-model="username" placeholder="Enter Username" required>

                <label><b>Password</b></label>
                <input type="password" ng-model="password" placeholder="Enter Password" required>

                <button type="submit" ng-click="submit()">Login</button>
                <input type="checkbox" checked="checked"> Remember me
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>

